/**
 * Component: Drawers.
 * ------------------------------------------------------------------------------
 * Part that contains the cart and checkout drawers.
 *
 */
$DRAWER_WIDTH: 400px;

.drawers {
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: transform 0.4s ease;
  width: (2 * $DRAWER_WIDTH);
  z-index: 5;

  &.cart-open {
    transform: translateX(50%);
  }

  &.checkout-open {
    transform: translateX(0);
  }
}

.drawer {
  $parent: &;
  align-content: space-between;
  background-color: $COLOR_WHITE;
  box-shadow: $BOX_SHADOW;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: $DRAWER_WIDTH;
  z-index: 2;

  &__header {
    align-items: center;
    border-bottom: 1px solid $COLOR_CLOUDS;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    margin-bottom: $GUTTER;
    padding: ($GUTTER / 2) $GUTTER;
  }

  &__content {
    flex: 1 1 auto;
    padding: $GUTTER;
    padding-top: 0;
  }

  &__line-item {
    margin-bottom: $GUTTER;
  }

  &__label {
    color: $COLOR_CONCRETE;
    display: block;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: ($GUTTER / 4);
    text-transform: uppercase;
  }

  &__form-item {
    appearance: none;
    background-color: $COLOR_WHITE;
    border: 0;
    border-radius: 0;
    padding: ($GUTTER / 2);
    position: relative;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: ($GUTTER / 2);
    }

    &.has-error {
      border: 1px solid $COLOR_RED;
      color: $COLOR_RED;
    }
  }

  &__footer {
    display: none;
    flex: 0 0 auto;
    padding: $GUTTER;

    &.is-active {
      display: block;
    }
  }

  &__total {
    align-items: center;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    padding-bottom: ($GUTTER / 2);
  }

  &#{&}--checkout {
    background-color: $COLOR_CLOUDS;
    left: $DRAWER_WIDTH;
    z-index: 1;

    #{$parent}__header {
      border-bottom-color: $COLOR_WHITE;
    }
  }
}
