$COLOR_GREEN: #1abc9c;
$COLOR_GREEN_DARK: #16a085;
$COLOR_CONCRETE: #34495e;
$COLOR_CONCRETE_DARK: #2c3e50;
$COLOR_CLOUDS: #ecf0f1;
$COLOR_RED: #e74c3c;
$COLOR_BLACK: #111;

$COLOR_WHITE: #fff;
$COLOR_GREY: #ebebeb;

$BOX_SHADOW: 0 0 15px rgba($COLOR_CONCRETE, 0.1);

$GUTTER: 2rem;
